/*#1C6D90*/
/*#D8223F*/
/*#D0E023*/

.slide{
  background-color: #1C6D90;
}
.reveal a {
  color: white;
}
.quote {
  font-style: italic;
  font-size: 50px !important;
  text-align: right !important; 
}
.quote small {
  font-size: 12px;
}
div.flex-container {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
}
div.flex-child {
  margin:10px;
}
.flex-child a {
  color: orange;
}
.flex-child a:hover {
  color: rgb(110, 28, 144);
}
